:root {
  --color-fondo: #eef4fb;
  --color-rojo1: #2e4a74;
  --color-rojo2: #5b7aa9;
  --color-sombra: #16283b;

  --bg-gradient: linear-gradient(
    75deg,
    #bf7839,
    /* Dorado oscuro */ #bf8c4e,
    /* Bronce */ #d9af62,
    /* Oro medio */ #f2dc99,
    /* Oro claro */ #f2d680,
    /* Brillo dorado */ #f2dc99,
    /* Oro claro */ #d9af62,
    /* Oro medio */ #bf8c4e,
    /* Bronce */ #bf7839 /* Dorado oscuro */
  );
}
